<section>
  <h1>Reservations</h1>
  <% if @reservation.errors.any? %>
  <ul class="errors">
    <% @reservation.errors.full_messages.each do |error| %>
    <li>
      <%= error %>
    </li>
    <% end %><!-- end errors li -->
  </ul>
  <% end %><!-- end errors each -->
  <%= form_for :reservation, url: reservations_path(@reservaton) do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :email %>
    <%= f.email_field :email %>
  </p>
  <p>
    <%= f.label :party_size %>
    <%= f.text_field :party_size %>
  </p>
  <p>
    <%= f.label :date %>
    <%= f.date_field :date %>
  </p>
  <p>
    <%= f.label :time %>
    <%= f.text_field :time, class: :reservation_time  %>
  </p>
  <p>
    <%= f.submit "Book", class: 'button' %>
  </p>
  <% end %>
</section>
