<section>
  <h1>yay</h1>
  <h2>Thank you for booking <%= @reservation.name  %>!</h2>
  <p>
    Your reservation is for
    <%= @reservation.time.to_s(:time) %>pm
    <%= @reservation.date.strftime("%m/%d") %> for
    <%= @reservation.party_size %> people!
  </p>
  <p>
    A confirmation will be sent to
    <%= @reservation.email %>
  </p>
  <p>
    If you need to make changes or delete your reservation select <%= link_to 'change reservations', edit_reservation_path(@reservation) %>
  </p>
</section>
